---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import "../external/photoswipe.css";
import "../external/lite-yt-embed.css";
import Navigation from "../components/navigation.astro";

const { title, description } = Astro.props;


const navigation_links = [
    {
        href: '/products',
        label: 'Products'
    },
]

---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            /* @font-face {
                font-family: "Lineal";
                src: url("../fonts/LinealVF.woff2") format("woff2");
            } */
        </style>
        <script src="../external/lite-yt-embed.js"></script>
        <title>{title}</title>
        <meta name="description" content={description} />

        <slot name="header" />
    </head>

    <ViewTransitions />

    <body>
        <Navigation navigation_links={navigation_links}/>
        <main
            transition:animate={fade({
                duration: "0.2s",
            })}
        >
            <slot />
        </main>
    </body>


</html>
